.search-inner {
    display: flex;
}

.search-box {
    border-radius: 20px;
    border: solid 1px rgb(227, 227, 227);
    text-indent: 5%;
}

button {
    border: 1px solid rgb(217, 217, 217);
    border-radius: 10%;
    height: 2rem;
    margin: 3px;
}
button:hover {
    background-color: rgb(219, 219, 219)
}

input {
    height: 2.3rem
}

input:focus {
    outline: 1px solid rgb(97, 97, 97);
}

.dropdown {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: fixed;
    margin-right: 50px;;
  }

  .suggestionLine:hover {
    background: rgb(227, 227, 227);
}

.suggestionLine.active {
    background: rgb(227, 227, 227);
}