.search-inner {
    display: flex;
}

.search-box {
    border-radius: 20px;
    border: solid 1px rgb(219, 219, 219);
    text-indent: 5%;
}

.search-box:hover {
    border:solid 1px rgb(138, 157, 194)
}

button {
    border-radius: 10%;
    height: 2rem
}

input {
    height: 2.3rem
}

input:focus {
    outline: 1px solid rgb(138, 157, 194)
}

.dropdown {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    z-index: 1;
    position: fixed;
  }
