* {
    box-sizing: border-box;
  }
  
  html{
    position: relative;
  }

  .widget-container-p2 {
    background-color: white;
    padding: 20px 20px 20px 12px;
    margin: 50px auto auto auto;
    border-radius: 13px;
  
    width: 500px;
    height: 220px;
  }
  
  .title {
    margin-bottom: 0;
    margin-right: 5px;
    line-height: 1;
    font-size: 2.2rem;
    font-weight: bold;
    align-items: center;
    text-transform: uppercase;
    -webkit-box-align: center;
    display:flex;
  }

  
  .weather-location {
    align-self: flex-end;
    font-size: 1.8rem;
    font-weight: 600;
    color: #7d8c96;
    text-transform: uppercase;
  }
  
  .todaysDate {
    margin-left: auto;
    font-size: 1.1rem;
    font-weight: 500;
    color: #5f5f5f;
  }
  
  .weather-header{
    display: flex;
    margin-bottom: 17px;
  }
  
  .weather-bottom{
    align-items: center;
    display: flex;
    height: 70%;
    -webkit-box-align: center;
  }
  
  .weather-now img {
    margin-right: 15px;
  }
  
  .weather-now-temp {
    font-size: 3.5rem;
    padding-right: 19px;
    display: flex;
    position: relative;
    align-items: center;
    flex-shrink: 0;
    /* -webkit-box-align: center; */
  }
  
  .weather-details, .weather-details-bottom {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-top: 15px;
    -webkit-box-pack: justify;
    -webkit-box-flex: 1;
  }

  
  .next-data {
    width: 50%;
  
  }
  
  .title-data {
      color: rgb(68, 68, 68);
      display: block;
      font-size: 1.2rem;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 2px;
  }
  
  .data-value {
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(68, 68, 68);
  }


  
.weatherIcon-forecast {
  margin-left: 10px;
}

.Wicon-small {
    width: 40px;
    height: 40px;
}
  